[submodule "mygitops"]
	path = mygitops
	url = https://github.com/gustavomoraes-ufrj/mygitops
[submodule "shell"]
	path = shell
	url = https://github.com/gustavomoraes-ufrj/Shell
[submodule "k8s"]
	path = k8s
	url = https://github.com/gustavomoraes-ufrj/k8s
[submodule "ansible"]
	path = ansible
	url = https://github.com/gustavomoraes-ufrj/ansible
[submodule "rhce9"]
	path = rhce9
	url = https://github.com/gustavomoraes-ufrj/rhce9
[submodule "lesson18lab"]
	path = lesson18lab
	url = https://github.com/gustavomoraes-ufrj/lesson18lab
[submodule "geekUniversity"]
	path = geekUniversity
	url = https://github.com/gustavomoraes-ufrj/Python_GeekUniversity
[submodule "python_INE"]
	path = python_INE
	url = https://github.com/gustavomoraes-ufrj/Python_INE
[submodule "ansible_deployments"]
	path = ansible_deployments
	url = https://github.com/gustavomoraes-ufrj/Ansible_Deployments
[submodule "pentesterAcademyCode"]
	path = pentesterAcademyCode
	url = https://github.com/gustavomoraes-ufrj/PentesterAcademyCode
[submodule "itp-u3-c2-football-dictionaries"]
	path = itp-u3-c2-football-dictionaries
	url = https://github.com/gustavomoraes-ufrj/itp-u3-c2-football-dictionaries
[submodule "mynewrepo"]
	path = mynewrepo
	url = https://github.com/gustavomoraes-ufrj/mynewrepo
